*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --white: #F3F6F6;
    --black: #1E1B1A;
}

body{
    margin: 0;
    padding: 0;

    transition: .5s background;

    color: var(--black);
    background: var(--white);
    font-family: sans-serif;
}
main{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


.dot{
    width: 256px;
    height: 256px;

    margin: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .5s background;

    color: var(--black);
    background: var(--white);
    border-radius: 50%;
}
.dot span{
    margin: 5%;

    cursor: default;

    text-align: center;
    font-size: large;
}


.dark{
    color: var(--white);
    background: var(--black);
}